

.booking_member-page{


    .card-body{
        position: relative;
        height: 400px

        
    }
        .fw-normal {

            img{
                width: 40px;
                    height: auto;
            }
        }
 
}

 .body-card {
     width: 40%;
 }