

.Create-Event-Page{
    h1 {
            margin-bottom: 40px;
        }
    
        label {
            color: #333;
        }
    
        .btn-send {
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            width: 80%;
            margin-left: 3px;
        }
    
        .help-block.with-errors {
            color: #ff5050;
            margin-top: 5px;
    
        }
    
        .card {
            margin-left: 10px;
            margin-right: 10px;
        }

        // Calander-positioning input field
  .calander_positioning {
    right: 110px !important;
    top: 10px;
    color: #271753 !important;
}
        

}

