
.modal-open-information{

 background-color: rgba(0, 0, 0, 0.295);
 z-index: 10;
 position: absolute;
 top: -15%;
 left: 4.5%;
 display: flex;
 justify-content: center;
 margin:  0 auto;
 align-items: center;
 width: 100%;

}

@media (max-width : 600px) {
    .modal-open-information {
    
            background-color: rgba(0, 0, 0, 0.295);
            z-index: 10;
            position: absolute;
            top: 1%;
            left: 0% !important;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            align-items: center;
            width: 100%;
    
        }
                 .event-cretor {
                     font-size: 12px !important;
                     font-weight: 600;
                 }

          
}

// profile image
.profile-image{
    width: 150px;
}
// booking btn show class
.show{
   font-size: 0.6rem !important;
   background-color: #e74545;
   color: #fff;
   padding: 2px 3px;
   cursor: pointer;
   border: 0.8px solid #852626;

   &:hover{
    background-color: #b73737;
   }

}

.details-event-image {
    width: 100% !important;
    height: 70vh !important;
}
@media (max-width : 450px) {
    .details-event-image {
          
            height: 40vh !important;
        }
}
