@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Fira+Sans:ital,wght@1,300&family=Hind+Madurai:wght@300;400&family=Playfair+Display&family=REM:wght@100;600&family=Raleway:wght@700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
.navbar .navbar-brand .Navbar-logo {
  width: 2.7vw;
  height: 5vh;
}
.navbar .navbar-brand .logo-text {
  cursor: pointer;
  transition: all ease-in 0.4s;
  font-weight: 800;
  color: #0D1D31;
}
.navbar .navbar-brand .logo-text:hover {
  color: #ED4A43;
}
.navbar .profile-avata {
  width: 3.4vw;
  height: 6.5vh;
  border: 2px solid #c2520d;
}

.middle-navbar {
  background-color: #FBFBFB;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-top: 0.3rem;
}
.middle-navbar .nav-item .nav-link {
  color: #0D1D31;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.middle-navbar .nav-item .nav-link:hover {
  color: #ED4A43;
}

.last-navbar {
  background-color: #FBFBFB;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.last-navbar .search {
  margin-bottom: auto;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid rgba(13, 29, 49, 0.5254901961);
}
.last-navbar .search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}
.last-navbar .search .search-input {
  padding: 0 10px;
  width: 550px;
  caret-color: #536bf6;
  font-size: 21px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
  top: 0 !important;
  z-index: 1000;
}
.last-navbar .search:hover > .search-icon {
  background: #1A237E;
  border: 3px solid #1A237E !important;
  color: #fff;
}
.last-navbar .search-icon {
  height: 50px;
  margin-left: 3px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ED4A43;
  border: 3px solid #ED4A43 !important;
}

@media (max-width: 768px) {
  .navbar .Navbar-logo {
    width: 7.2vw !important;
    height: 6vh;
  }
  .navbar .logo-text {
    font-size: 1.2rem !important;
  }
  .navbar .logo-text:hover {
    color: #ED4A43;
  }
  .navbar .profile-avata {
    width: 10vw !important;
    height: 7vh;
    border: 1px solid #0c0c0c !important;
  }
  .middle-navbar .nav-item .nav-link {
    font-size: 0.7rem !important;
    font-weight: 600;
  }
  .last-navbar .search .search-input {
    padding: 0 10px;
    width: 300px;
    caret-color: #536bf6;
    font-size: 21px;
  }
}
@media (max-width: 448px) {
  .search .search-input {
    padding: 0 10px;
    width: 200px !important;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
  }
  .btn-RSVP {
    font-size: 15px !important;
  }
  .btn-view {
    font-size: 15px !important;
  }
}
.footer {
  background-color: #F8F8F8 !important;
}
.footer a {
  background-color: #0D1D31;
  transition: all ease-in 0.5s;
  cursor: pointer;
}
.footer a:hover {
  border: 1px solid #ED4A43;
  color: #ED4A43;
}
.footer a .fab {
  color: #898787;
}
.footer a .fab:hover {
  color: #ED4A43;
}
.footer .role {
  color: #0D1D31;
}

.Event-Management-body .event-heading-border {
  cursor: pointer;
}
.Event-Management-body .event-heading-border .event-heading-text {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: -1.5px;
  transition: all ease-out 0.5s;
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  line-height: 24px;
  border-bottom: 3px solid #ED4A43;
  color: #ED4A43;
}
.Event-Management-body .event-heading-border .event-heading-text:hover {
  border-bottom: 3px solid #ED4A43;
  color: #ED4A43;
}
.Event-Management-body .event-heading-border .event-heading-text-all {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: -1.5px;
  transition: all ease-out 0.5s;
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  line-height: 24px;
}
.Event-Management-body .event-heading-border .event-heading-text-all:hover {
  border-bottom: 3px solid #ED4A43;
  color: #ED4A43;
}
.Event-Management-body .all-event-cards .card {
  max-width: 700px;
  padding: 1%;
}
.Event-Management-body .all-event-cards .card .card-image {
  height: 42vh;
  width: 100% !important;
}
.Event-Management-body .all-event-cards .card .card-title {
  border-left: 2px solid #0D1D31;
  padding-left: 0.5rem;
  color: #0D1D31;
  font-size: 1.1rem;
  font-weight: 600;
}
.Event-Management-body .all-event-cards .card .date-titele {
  color: #0f3b71;
  font-weight: 600;
}
.Event-Management-body .all-event-cards .card .date-titele .text-color {
  color: #0D1D31;
  font-size: 0.9rem;
}
.Event-Management-body .all-event-cards .card .free-ticket {
  color: #ED4A43;
  font-size: 1.2rem;
  font-weight: 600;
}
.Event-Management-body .all-event-cards .card .card-text {
  font-weight: 600;
  font-size: 1rem;
}
.Event-Management-body .all-event-cards .card .btn-RSVP {
  background-color: #ED4A43;
  color: #f0f0f0;
  border: unset;
  font-weight: 600;
  transition: all ease-in 0.4s;
}
.Event-Management-body .all-event-cards .card .btn-RSVP:hover {
  background-color: #FBFBFB;
  border: 1px solid #b0b0b0 !important;
  color: #0D1D31;
}
.Event-Management-body .all-event-cards .card .btn-view {
  background-color: #FBFBFB;
  border: 1px solid #b0b0b0 !important;
  color: #070707;
  border: unset;
  font-weight: 600;
  transition: all ease-in 0.4s;
}
.Event-Management-body .all-event-cards .card .btn-view:hover {
  background-color: #ED4A43;
  color: white;
}
@media (max-width: 765px) {
  .Event-Management-body .all-event-cards .card-image {
    height: 47vh;
    width: 40vw;
  }
  .Event-Management-body .all-event-cards .card-image {
    height: 60vh !important;
    width: 100% !important;
    background-position: center center;
    background-size: cover;
    margin: 0 auto !important;
    padding: 0.5rem;
    border-radius: 0% !important;
  }
}
.Event-Management-body .not-abailable-event {
  width: 100%;
  height: 60vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attendanceModal {
  background-color: rgba(0, 0, 0, 0.295);
  z-index: 10;
  position: absolute;
  top: 1%;
  left: 0% !important;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}
.attendanceModal .RSVP-modal-body {
  width: 60%;
  justify-content: center;
}
@media (max-width: 800px) {
  .attendanceModal .RSVP-modal-body {
    width: 90% !important;
  }
}
@media (max-width: 430px) {
  .attendanceModal .RSVP-modal-body {
    width: 98% !important;
  }
}

.login-form {
  width: 100%;
  height: 70vh;
}
.login-form .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
@media (min-width: 768px) {
  .login-form .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .login-form .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
.login-form .login-btn {
  font-size: 1.2rem !important;
  text-transform: uppercase;
  border: unset;
}

.singUp .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
@media (min-width: 768px) {
  .singUp .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .singUp .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
.singUp .login-btn {
  font-size: 1.2rem !important;
  text-transform: uppercase;
  border: unset;
}

.modal-open-information {
  background-color: rgba(0, 0, 0, 0.295);
  z-index: 10;
  position: absolute;
  top: -15%;
  left: 4.5%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .modal-open-information {
    background-color: rgba(0, 0, 0, 0.295);
    z-index: 10;
    position: absolute;
    top: 1%;
    left: 0% !important;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }
}
.profile-image {
  width: 150px;
}

.Create-Event-Page h1 {
  margin-bottom: 40px;
}
.Create-Event-Page label {
  color: #333;
}
.Create-Event-Page .btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}
.Create-Event-Page .help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}
.Create-Event-Page .card {
  margin-left: 10px;
  margin-right: 10px;
}
.Create-Event-Page .calander_positioning {
  right: 110px !important;
  top: 10px;
  color: #271753 !important;
}
.Create-Event-Page .event-input-text-color {
  color: #271753 !important;
  font-weight: 600;
}

.calendar-container {
  margin: 20px auto;
}

.event-marker {
  width: 8px;
  height: 8px;
  background-color: #ff5733;
  border-radius: 50%;
  margin: 0 auto;
}

.event-list {
  margin-top: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh !important;
  position: absolute;
  z-index: 60;
  padding: 25% 0;
  background: #F8F9FA;
}

.flex {
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}
.padding {
  padding: 5rem;
}

.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

.border-secondary,
.loader-demo-box {
  border-color: #a3a4a5 !important;
}

.rounded,
.loader-demo-box {
  border-radius: 0.25rem !important;
}

.loader-demo-box {
  width: 100%;
  height: 200px;
}

.jumping-dots-loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.jumping-dots-loader span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(241, 83, 110, 0.8);
  margin: 35px 5px;
}

.jumping-dots-loader span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

.jumping-dots-loader span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

.jumping-dots-loader span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
}
.Pagination-component .flex {
  flex: 1 1 auto;
}
@media (max-width: 991.98px) {
  .Pagination-component .padding {
    padding: 0.5rem;
  }
}
@media (max-width: 767.98px) {
  .Pagination-component .padding {
    padding: 0.5rem;
  }
}
.Pagination-component .padding {
  padding: 0.5rem;
}
.Pagination-component .container {
  margin-top: 10px;
}
.Pagination-component .pagination,
.Pagination-component .jsgrid .jsgrid-pager {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.Pagination-component .page-link {
  color: rgba(255, 255, 255, 0.82);
  font-weight: 600;
}
.Pagination-component .pagination.pagination-flat .page-item {
  margin: 0 0.25rem;
}
.Pagination-component .pagination-success .page-item.active .page-link,
.Pagination-component a {
  background: #ED4A43;
}
.Pagination-component .left-right-icon-bg {
  background-color: rgba(13, 29, 49, 0.8784313725);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.realway {
  font-family: "Raleway", sans-serif;
}

.roboto-navbar-text {
  font-family: "Roboto", sans-serif;
}

.latest-event {
  font-family: "Raleway", sans-serif;
}

.event-title {
  font-family: "Raleway", sans-serif;
}

.event-discription {
  font-family: "Raleway", sans-serif;
}/*# sourceMappingURL=index.css.map */