@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Fira+Sans:ital,wght@1,300&family=Hind+Madurai:wght@300;400&family=Playfair+Display&family=REM:wght@100;600&family=Raleway:wght@700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
.navbar .navbar-brand .Navbar-logo {
  width: 3.2vw;
  height: 6vh;
}
.navbar .navbar-brand .logo-text {
  cursor: pointer;
  transition: all ease-in 0.4s;
  font-weight: 800;
  color: #0D1D31;
}
.navbar .navbar-brand .logo-text:hover {
  color: #ED4A43;
}
.navbar .profile-avata {
  width: 4vw;
  height: 8vh;
  border: 1px solid #ED4A43;
}

.middle-navbar {
  background-color: #FBFBFB;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0.3rem;
}
.middle-navbar .nav-item .nav-link {
  color: #0D1D31;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.middle-navbar .nav-item .nav-link:hover {
  color: #ED4A43;
}

.last-navbar {
  background-color: #FBFBFB;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0.3rem;
  width: 100%;
}
.last-navbar .search-bar .searching-btn {
  background-color: #ED4A43;
  color: #ffffff;
  text-transform: uppercase;
}
.last-navbar .search-bar .searching-btn:hover {
  background-color: #435469;
  color: #fff;
}
.last-navbar .searching-content {
  font-size: 12px;
  color: #0D1D31;
}

@media (max-width: 768px) {
  .navbar .Navbar-logo {
    width: 7.2vw !important;
    height: 6vh;
  }
  .navbar .logo-text {
    font-size: 1.2rem !important;
  }
  .navbar .logo-text:hover {
    color: #ED4A43;
  }
  .navbar .profile-avata {
    width: 10vw !important;
    height: 7vh;
    border: 1px solid #0c0c0c !important;
  }
  .middle-navbar .nav-item .nav-link {
    font-size: 0.7rem !important;
    font-weight: 600;
  }
  .last-navbar .search-bar {
    width: 100% !important;
  }
  .last-navbar .search-bar .searching-btn {
    background-color: #ED4A43;
    color: #ffffff;
    text-transform: uppercase;
  }
  .last-navbar .search-bar .searching-btn:hover {
    background-color: #435469;
    color: #fff;
  }
  .last-navbar .searching-content {
    font-size: 12px;
    color: #0D1D31;
  }
}
.Event-Management-body .event-heading-border {
  cursor: pointer;
}
.Event-Management-body .event-heading-border .event-heading-text {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: -1.5px;
  transition: all ease-out 0.5s;
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  line-height: 24px;
  border-bottom: 3px solid #ED4A43;
  color: #ED4A43;
}
.Event-Management-body .event-heading-border .event-heading-text:hover {
  border-bottom: 3px solid #ED4A43;
  color: #ED4A43;
}
.Event-Management-body .event-heading-border .event-heading-text-all {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: -1.5px;
  transition: all ease-out 0.5s;
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  line-height: 24px;
}
.Event-Management-body .event-heading-border .event-heading-text-all:hover {
  border-bottom: 3px solid #ED4A43;
  color: #ED4A43;
}
.Event-Management-body .all-event-cards .card {
  max-width: 700px;
  padding: 1%;
}
.Event-Management-body .all-event-cards .card .card-image {
  height: 47vh;
  width: 40vw;
  border-radius: 20%;
}
.Event-Management-body .all-event-cards .card .card-title {
  border-left: 2px solid #0D1D31;
  padding-left: 0.5rem;
  color: #0D1D31;
  font-size: 1.1rem;
  font-weight: 600;
}
.Event-Management-body .all-event-cards .card .date-titele {
  color: #0f3b71;
  font-weight: 600;
}
.Event-Management-body .all-event-cards .card .date-titele .text-color {
  color: #0D1D31;
  font-size: 0.9rem;
}
.Event-Management-body .all-event-cards .card .free-ticket {
  color: #ED4A43;
  font-size: 1.2rem;
  font-weight: 600;
}
.Event-Management-body .all-event-cards .card .card-text {
  font-weight: 600;
  font-size: 1rem;
}
.Event-Management-body .all-event-cards .card .btn-RSVP {
  background-color: #ED4A43;
  color: #f0f0f0;
  border: unset;
  font-weight: 600;
  transition: all ease-in 0.4s;
}
.Event-Management-body .all-event-cards .card .btn-RSVP:hover {
  background-color: #FBFBFB;
  border: 1px solid #b0b0b0 !important;
  color: #0D1D31;
}
.Event-Management-body .all-event-cards .card .btn-view {
  background-color: #FBFBFB;
  border: 1px solid #b0b0b0 !important;
  color: #070707;
  border: unset;
  font-weight: 600;
  transition: all ease-in 0.4s;
}
.Event-Management-body .all-event-cards .card .btn-view:hover {
  background-color: #ED4A43;
  color: white;
}
@media (max-width: 765px) {
  .Event-Management-body .all-event-cards .card-image {
    height: 47vh;
    width: 40vw;
  }
  .Event-Management-body .all-event-cards .card-image {
    height: 60vh !important;
    width: 100% !important;
    background-position: center center;
    background-size: cover;
    margin: 0 auto !important;
    padding: 0.5rem;
    border-radius: 0% !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.realway {
  font-family: "Raleway", sans-serif;
}

.roboto-navbar-text {
  font-family: "Roboto", sans-serif;
}

.latest-event {
  font-family: "Raleway", sans-serif;
}

.event-title {
  font-family: "Raleway", sans-serif;
}

.event-discription {
  font-family: "Raleway", sans-serif;
}/*# sourceMappingURL=index.css.map */