
// ==============> web application collor ============>
// all text color
$small-text-color : #435469;
$logo-text-color : #0D1D31;

// bg color 
$logo-bg-color : #ED4A43;
$btn-bg : #ED4A43;
$bg: #FBFBFB