
@import'../scss/global.variable';

// ==============> web application collor ============>
// all text color
$small-text-color : #435469;
$logo-text-color : #0D1D31;

// bg color 
$logo-bg-color : #ED4A43;
$btn-bg : #ED4A43;
$bg: #FBFBFB;


// ========> top Navbar Scss code start ===============>
.navbar{

    // logo image and logo Text scss block
    .navbar-brand{

        .Navbar-logo {
                width: 2.7vw ;
                height: 5vh ;
        
            }
        
            .logo-text {
               cursor: pointer;
               transition: all ease-in 0.4s;
               font-weight: 800 ;
               color: $logo-text-color;
                 
                &:hover {
                    color: #ED4A43;
                }
            }
    }

   
   // profile avata image scss block
    .profile-avata {
            width: 3.5vw;
            height: 6.5vh;
            border: 2px solid #c2520d;
        }


}
// ========> top Navbar Scss code end ===============>

// ###

// ========> middle-navbar Scss code start ============>
 .middle-navbar{
     background-color: $bg;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-top: 0.3rem;

    .nav-item{


        .nav-link{
            color: $logo-text-color;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 600;
            &:hover {
                    color: #ED4A43;
                }
        }
    }



 }

// ========> middle-navbar Scss code end ===============>
// ###
// ========> last-navbar Scss code start ============>
.last-navbar {
    background-color: $bg;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    
    .search {
            margin-bottom: auto;
            margin-top: 20px;
            background-color: #fff;
            border: 1px solid #0d1d3186;
            
        }
    
        .search-input {
    
            color: white;
            border: 0;
            outline: 0;
            background: none;
            width: 0;
            margin-top: 5px;
            caret-color: transparent;
            line-height: 40px;
            transition: width 0.4s linear;
    
        }

        .search .search-input {
            padding: 0 10px;
            width: 550px;
            caret-color: #536bf6;
            font-size: 21px;
            font-weight: 300;
            color: black;
            transition: width 0.4s linear;
            top: 0 !important;
            z-index: 1000;
           

        }
    
        .search:hover>.search-icon {
            background: #1A237E;
            color: #fff;
        }
    
        .search-icon {
    
            height: 50px;
            width: 50px;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #ED4A43;
            
        }
    
         




}

// ========> last-navbar Scss code end ===============>

//                         #####
// ============= Responsive All Navbar components start ===============

@media (max-width: 768px) {
    
    // top Navbar Scss code start ====>
   .navbar{
    

    .Navbar-logo {
            width: 7.2vw !important;
            height: 6vh ;
    
        }
    
        .logo-text {
            font-size: 1.2rem !important;
    
            &:hover {
                color: #ED4A43;
            }
        }
    
        // profile avata image scss block
        .profile-avata {
            width: 10vw !important;
            height: 7vh;
            border: 1px solid #0c0c0c !important;
        }

   }
   // top Navbar Scss code end <====
       
    // midele Navbar scss code start===>
        .middle-navbar {
            
    
            .nav-item {
    
    
                .nav-link {
                    font-size: 0.7rem !important;
                    font-weight: 600;
    
                }
            }
    
    
    
        }
    // midele Navbar scss code end <====


   // last Navbar Scss code start====>

   .last-navbar {
       
        .search .search-input {
                padding: 0 10px;
                width: 300px;
                caret-color: #536bf6;
                font-size: 21px;
               
        
        
            }




   }

   // last Navbar Scss code end <====

}

@media (max-width: 448px){
.search .search-input {
        padding: 0 10px;
        width: 200px !important;
        caret-color: #536bf6;
        font-size: 21px;
        font-weight: 300;
    
    }

    //card view btn and btn-RSVP
    .btn-RSVP{
        font-size: 15px !important;
    }
    .btn-view{
       
        font-size: 15px !important;
    }
}

// ============= Responsive All Navbar end ===============






// ###
// ========> Footer Scss code start ===============>


// ========> Footer Scss code end ===============>