
// ========> Navbar Scss code start ===============>
.navbar{


    .profile-avata {
            width: 4vw;
            height: 8vh;
        }


}
// ========> Navbar Scss code end ===============>
// ###
// ========> Footer Scss code start ===============>


// ========> Footer Scss code end ===============>